Package: {=PACKAGE_NAME=}
Version:
GitHash:
Architecture: amd64
Maintainer: CJey Hou <cjey.hou@paadoo.com>
Installed-Size:
Depends: lsb-base
Section: httpd
Priority: optional
Description: {=PACKAGE_DESCRIPTION=}
